/// Breakpoints for media queries and wrap elements
///
/// @author Reyno te Koppele
///
/// @type Map
/// @prop {Number} small [40em] - Breakpoint for small screens
/// @prop {Number} medium [65em] - Breakpoint for medium screens
///
$breakpoints: (
  small: 40em,
  medium: 65em,
) !default;
