@use "./functions" as *;

$font-scale: (
  200: fontScale(0.786rem, 0.857rem),
  300: fontScale(1rem, 1.143rem),
  400: fontScale(1.143rem, 1.286rem),
  500: fontScale(1.286rem, 1.5rem),
  600: fontScale(1.5rem, 1.714rem),
  700: fontScale(1.714rem, 2rem),
  800: fontScale(2.286rem, 2.857rem),
  900: fontScale(2.857rem, 3.714rem),
) !default;

$unicodes: (
  basic: 'U+0020-007F,U+00A0-00FF',
  extra: 'U+0100-017F,U+20A0-20CF',
) !default;

$font-weights: (
  light: 100,
  regular: 400,
  bold: 700,
) !default;

$fonts: (roboto, poppins) !default;
