@use "../abstracts/mixins" as *;

.grid {
  display: grid;
  grid-template-columns: var(--col-template, 1fr);
  gap: 2rem;

  @include mq('small') {
    --col-template: repeat(3, 1fr);

    &--two-columns {
      --col-template: repeat(2, 1fr);
    }

    &--four-columns {
      --col-template: repeat(2, 1fr);

      @include mq('medium') {
        --col-template: repeat(4, 1fr);
      }
    }

    &--content-side {
      --col-template: 3fr 1fr;
    }

    &--side-content {
      --col-template: 1fr 3fr;
    }

    &--side-content-side {
      --col-template: 1fr 2fr 1fr;
    }
  }
}
