%flex {
  display: flex;

  &--center {
    align-items: center;
    justify-content: center;
  }

  &--space {
    justify-content: space-between;
  }
}

%absolute {
  position: absolute;

  &--full {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

%bg-center {
  background-position: center;
  background-size: cover;
}
