@use "../abstracts/mixins" as *;

.columns {
  $columns: 12;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat($columns, 1fr);

  &__col {
    @for $i from 1 through $columns {
      @include mq('small') {
        &--#{$i} {
          grid-column-start: span $i;
        }
      }
    }
  }
}
