@use "../abstracts/mixins" as *;

/// Apply font-size for rem scaling
///
/// @author Reyno te Koppele
/// @group Base
///
html {
  font-size: 14px;
}

/// Apply color and font settings for general text
///
/// @author Reyno te Koppele
/// @group Base
///
body {
  font-size: var(--fs-300);
  font-family: var(--font-stack-body);
  color: var(--clr-neutral-800);
}

/// Apply color and font settings for headings
///
/// @author Reyno te Koppele
/// @group Base
///
h1,
h2,
h3,
h4 {
  font-family: var(--font-stack-heading);
  font-weight: 700;
  line-height: 1.1;
  color: var(--clr, var(--clr-neutral-900));
}

/// Apply font-size from abstracts/_font-scale
///
/// @author Reyno te Koppele
/// @group Base
///
/// @see {variable} $font-scale
///
h1,
.h1 {
  font-size: var(--fs-800);
}

/// Apply font-size from abstracts/_font-scale
///
/// @author Reyno te Koppele
/// @group Base
///
/// @see {variable} $font-scale
///
h2,
.h2 {
  font-size: var(--fs-700);
}

/// Apply font-size from abstracts/_font-scale
///
/// @author Reyno te Koppele
/// @group Base
///
/// @see {variable} $font-scale
///
h3,
.h3 {
  font-size: var(--fs-600);
}

/// Apply font-size from abstracts/_font-scale
///
/// @author Reyno te Koppele
/// @group Base
///
/// @see {variable} $font-scale
///
h4,
.h4 {
  font-size: var(--fs-500);
}

/// Apply font-size from abstracts/_font-scale
///
/// @author Reyno te Koppele
/// @group Base
///
/// @see {variable} $font-scale
///
small,
.text-small {
  font-size: var(--fs-200);
}

/// Ignore default browser styling on all links
///
/// @author Reyno te Koppele
/// @group Base
///
a {
  color: inherit;
  text-decoration: none;

  &:visited {
    color: inherit;
    text-decoration: none;
  }
}

/// Add a style for default"links
///
/// @author Reyno te Koppele
/// @group Base
///
a[href]:not([class]) {
  color: var(--clr-primary-500);
}

/// Add more aesthetically-pleasing broken images
///
/// @author Reyno te Koppele
/// @group Base
///
/// @require {mixin} pseudo
///
img {
  font-size: var(--fs-300);
  text-align: center;

  @include pseudo($content: "We're sorry, the image is broken :(") {
    display: block;
    margin-bottom: var(--sp-xsmall);
  }

  @include pseudo($type: after, $content: '(url: ' attr(src) ')') {
    display: block;
    font-size: var(--fs-200);
    margin-top: var(--sp-xsmall);
  }
}

/// Adds default styling to input elements
///
/// @author Reyno te Koppele
/// @group Base
///
/// @require {mixin} pseudo
///
input:not([type='button'], [type='submit'], [type='color'], [type='checkbox'], [type='radio']),
textarea {
  display: block;
  width: 100%;
  padding: var(--sp-xsmall) var(--sp-small);
  color: var(--clr-neutral-800);
  outline: 0;
  background: var(--clr-neutral-0);
  background-clip: padding-box;
  border: var(--border);
  transition: border-color var(--timing-fast) var(--easing);

  &::placeholder {
    color: var(--clr-neutral-600);
    opacity: 1;
  }

  &:focus {
    border-color: var(--clr-neutral-600);
  }
}
