@use "../abstracts" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;

/// Add CSS variables to the DOM.
///
/// @author Reyno te Koppele
///
/// @require {function} colorToRGB
/// @require {mixin} mq
/// @require {variable} $colors
/// @require {variable} $font-scale
/// @require {variable} $spacing
/// @require {variable} $breakpoints
///
/// @link https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties var()
/// @link https://sass-lang.com/documentation/modules/map#get map-get()
///
:root {
  // Colors
  @each $color, $shade in $colors {
    @each $prop, $value in $shade {
      --clr-#{$color}-#{$prop}: #{$value};
    }
  }

  // Font sizes
  @each $screen-size, $property in $font-scale {
    @if $screen-size == small {
      @each $prop, $value in $property {
        --fs-#{$prop}: #{$value};
      }
    } @else {
      @include mq(small) {
        @each $prop,
        $value in $property {
          --fs-#{$prop}: #{$value};
        }
      }
    }
  }

  // Spacing
  @each $type, $space in $spacing {
    @if $type == rem {
      @each $prop, $value in $space {
        --sp-#{$prop}: #{$value};
      }
    } @else {
      @each $prop, $value in $space {
        --sp-#{$prop}-#{$type}: #{$value};
      }
    }
  }

  // Breakpoints
  @each $name, $size in $breakpoints {
    --breakpoint-#{$name}: #{$size};
  }

  --font-body: Roboto;
  --font-heading: Poppins;
  --font-fallback: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-stack-body: var(--font-body), var(--font-fallback);
  --font-stack-heading: var(--font-heading), var(--font-fallback);

  --timing: 0.5s;
  --timing-slow: 1s;
  --timing-fast: 0.25s;

  --easing: ease-in-out;
  --easing-in: ease-in;
  --easing-out: ease-out;

  --border-width: 1px;
  --border-style: solid;
  --border-color: var(--clr-neutral-300);
  --border: var(--border-width) var(--border-style) var(--border-color);
  --border-radius: 15px;

  --clr-neutral-900-rgb: #{colorToRGB(map-get($neutral-colors, 900))};
  --shadow: 0px 2px 16px 0px rgba(var(--clr-neutral-900-rgb), 0.1);
}
